<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form action = '/', method="post">
        <input type="text" name="student_name" placeholder="My name">
        <br>
        <input type="radio" name="year" value = "y1">Y1<br>
        <input type="radio" name="year" valur = "y2">Y2<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
